<mat-table [dataSource]="list">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let todo">{{todo.id}}</mat-cell>
  </ng-container>

  <ng-container  matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let todo">{{todo.name}}</mat-cell>
  </ng-container>

  <ng-container  matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let todo">{{todo.description}}</mat-cell>
  </ng-container>

  <ng-container  matColumnDef="created">
    <mat-header-cell *matHeaderCellDef>Created at</mat-header-cell>
    <mat-cell *matCellDef="let todo">{{todo.createdAt}}</mat-cell>
  </ng-container>

  <ng-container  matColumnDef="edited">
    <mat-header-cell *matHeaderCellDef>Edited at</mat-header-cell>
    <mat-cell *matCellDef="let todo">{{todo.editedAt}}</mat-cell>
  </ng-container>

  <ng-container  matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let todo">
      <button mat-button color="primary" class="btn delete" (click)="deleteTodo(todo.id)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
      </button>
      <button mat-button color="primary" class="btn edit">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
</mat-table>
