<div class="container"> 
  <form [formGroup]="formGroup" class="form-group" (ngSubmit)="createTodo(formGroup.value)">

    <mat-form-field class="form-control-element">
      <input matInput placeholder="id" formControlName="id">
      <mat-error *ngIf="formGroup.controls['id'].invalid">
        Required field
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-control-element">
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="formGroup.controls['name'].invalid">
        Required field, must be between 2 and 7 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-control-element">
      <textarea matInput
        placeholder="Description"
        matTextareaAutosize
        formControlName="description"
      ></textarea>

      <mat-error *ngIf="formGroup.controls['description'].invalid">
        Required field, must be between 5 and 10 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-control-element">
      <input matInput placeholder="Created at" formControlName="created">
      <mat-error *ngIf="formGroup.controls['created'].invalid">
        Required field
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-control-element">
      <input matInput placeholder="Edited at" formControlName="edited">
      <mat-error *ngIf="formGroup.controls['edited'].invalid">
        Required field
      </mat-error>
    </mat-form-field>

    <div class="form-control-element">
      <button mat-raised-button color="primary" type="reset" [disabled]="!formGroup.valid">Submit</button>
    </div>

  </form>
</div>
